body{
    font-family: 'Jaldi', sans-serif;
    background-image: url("./assets/population.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
