<div class="row">
  <button class="btn btn-default" (click)="filterBy('europe')">Europe</button>
  <button class="btn btn-default" (click)="filterBy('all')">All</button>
  <button class="btn btn-default" (click)="filterBy('pop')">Population</button>
</div>
<table class="table table-striped"  >
    <thead>
      <tr>
        <th scope="col">Country name</th>
        <th scope="col">North</th>
        <th scope="col">South</th>
        <th scope="col">Continent</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let country of countries'>
        <td><a [routerLink]="['/country',country.countryName]">{{country.countryName}}</a></td>
        <td>{{country.south}}</td>
        <td>{{country.north}}</td>
        <td>{{country.continentName}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.population}}</td>
      </tr>
    </tbody>
  </table>
